.subscribe-btn{

		background-color: rgb(200, 0, 0);
		color: white;border: none;
		font-size: 18px;
		height: 36px;
		width: 105px;
		border-radius: 2px;
		cursor: pointer;
		margin-right: 8px;
		transition: opacity 0.15s;
		<!-- The transition should always be put here not in the hover sector-->
	}

	.subscribe-btn:hover{
		
		opacity: 0.6; <!--Fades out an element -->
	}

	.subscribe-btn:active{
		opacity: 0.5;
	}

	.join-btn{
		background-color: white;
		border-color: rgb(41, 118, 211);
		border-style: solid;
		font-size: 18px;
		border-width: 1px;
		cursor: pointer;
		color: rgb(41, 118, 211);
		height: 36px;
		width: 62px;
		border-radius: 2px;
		transition: background-color 0.15s, color 0.15s;
	}

	.join-btn:hover{
		background-color: rgb(41, 118, 211);
		color: white;
	}

		.join-btn:active{
		opacity: 0.7;

	}
	.head-title{
		text-decoration: underline;
	}

	.tweet-btn{
		background-color: rgb(2, 158, 255);
		color: #fff;
		height: 36px;
		width: 70px;
		border-radius: 18px;
		font-weight: bolder;
		border: none;
		font-size: 15px;
		cursor: pointer;
		margin-left: 8px;
		transition: box-shadow 0.15s;
	}

	.tweet-btn:hover{
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
		<!-- First one is for the horizantal length,
		the second one for vertical length, then
		the third one for blur capacity-->

	}


.uber-btn{

	height: 36px;
	width: 105px;
	background-color: black;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	transition: 0.15s;

}

.uber-btn:hover{
	opacity: 0.5;

}

.amazon-btn{
	height: 30px;
	width: 145px;
	background-color: rgb(255, 216, 20);
	border: none;
	border-radius: 50px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.15s
}

.amazon-btn:hover{
	background-color: rgba(255, 200, 20, 1);
}


.github-btn{

	background-color: rgb(53, 219, 69);
	border: none;
	font-size: 16px;
	cursor: pointer;
	color: #fff;
	border-radius: 8px;
	height: 40px;
	width: 108px;
	font-weight: bold;
	transition: box-shadow 0.15s;
}
.github-btn:hover{
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.boot-btn{
	background-color: rgb(139 ,28 ,199);
	border: none;
	height: 40px;
	width: 120px;
	color: #fff;
	margin-right: 8px;
	border-radius: 5px;
	font-weight: bolder;
	cursor: pointer;
	transition: background-color 0.15s;

}
.boot-btn:hover{
	background-color: rgb(125, 1, 189);

}

.boot-btn1{
	height: 40px;
	width: 120px;
	font-weight: bolder;
	border-radius: 5px;
	border-style: solid;
	border-width: 0.5px;
	cursor: pointer;
	color: rgb(108, 117, 125);
	transition: background-color 0.15s, color 0.15s;
}
.boot-btn1:hover{
	color: black;
	background-color: rgba(108, 117, 125, 0.3);
	}

.btnL1{
	background-color: #4042c9;
	border: none;
	border-radius: 35px;
	height: 40px;
	width: 275px;
	color: #fff;
	font-size: 17px;
	font-weight: bolder;
	margin-right: 8px;
	cursor: pointer;
	transition: background-color 0.15s;

}
.btnL1:hover{
	background-color: rgb(22, 23, 135);
}

.btnL2{
	color: #4042c9;
	border-radius: 35px;
	height: 40px;
	width: 95px;
	border-width: 1px;
	border-color: #4042c9;
	font-weight: bolder;
	font-size: 17px;
	cursor: pointer;
	transition: background-color 0.15s;
}
.btnL2:hover{
	border-width: 2px;
	border-style: solid;
	background-color: rgba(108, 109, 223, 0.2);
}