*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  height: 100vh;
  display: grid;
  grid-template-areas:
  'header header header'
  'nav content sidebar'
  'nav footer footer';
  grid-template-rows: 80px 1fr 70px;
  grid-template-columns: 1fr 4fr 1fr;
}

main, header, aside, nav, footer{
  background: steelblue;
  font-size: 1rem;
  color: white;
  border:skyblue 1px solid;
  padding: 20px
}

header{
  grid-area: header;
}
nav{
  grid-area: nav;
}
main{
  grid-area: content;
}
aside{
  grid-area: sidebar;
}
footer{
  grid-area: footer;
}
